@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  min-height: 100vh;
  width: 100%;
  background: url(../img/bg.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
:root {
  --black: #121212;
  --dark-gray: #333333;
  --text: #212529;
  --white: #f3f3f3;
  --accent: #48cae4;
  --blue: rgb(80, 80, 255);
}
/* Commmon Styles */
h2 {
  font-size: 3rem;
  font-weight: bold;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--blue);
  margin-bottom: 20px;
  font-family: "Space Grotesk", sans-serif;
}
p,
li {
  color: var(--text);
  font-weight: 400;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text);
}
section {
  min-height: 100vh;
  width: 100%;
  background: rgb(246, 246, 255);
}
.container {
  max-width: 1390px;
  padding: 50px 30px;
  margin: 0 auto;
}
.line {
  margin-top: 20px;
  width: 100%;
  height: 2px;
  background: var(--dark-gray);
  margin-bottom: 60px;
}
.button-1 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: center;
}

.button-1 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-1 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-1:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-1:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-1:hover span:last-child {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
/* Header and Navigation Bar Designs */
nav {
  padding: 20px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}
header .left .logo span {
  font-weight: 700;
  font-size: 1.6rem;
  user-select: none;
  color: var(--white);
  font-family: "Space Grotesk", sans-serif;
}
header .left .logo span span {
  color: rgb(80, 80, 255);
}
header .right i {
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  color: var(--white);
}
header .right i:hover {
  background: var(--blue);
  color: white;
}
.overlay {
  padding: 40px 50px;
  border-radius: 10px;
  border: 1px solid var(--dark-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  backdrop-filter: blur(50px);
  display: none;
  width: 100%;
  top: -100%;
}
.overlay ul {
  line-height: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.overlay li a {
  color: var(--white);
  font-weight: 600;
  transition: all 0.2s ease;
  font-size: 1.5rem;
  font-family: "Space Grotesk", sans-serif;
}
.overlay li a:hover {
  color: var(--blue);
}

.closeBtn {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 42px;
  font-size: 1.3rem;
  color: var(--white);
  transition: all 0.2s ease;
}
.closeBtn:hover {
  color: var(--blue);
}

/* Main Homepage Designs */
main {
  min-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main h1 {
  font-size: 8rem;
  font-family: "Space Grotesk", sans-serif;
  color: var(--white);
  user-select: none;
  text-align: center;
}
main h1 span {
  color: var(--blue);
  font-family: "Space Grotesk", sans-serif;
}
/* About Section Designs */
.about .container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.about .container .left {
  max-width: 50%;
}
.about .container .left p {
  line-height: 1.6;
  margin-bottom: 20px;
}
.about .container .right {
  max-width: 50%;
  display: flex;
  justify-content: flex-end;
}
.about .container .right img {
  max-width: 100%;
  box-shadow: 5px 5px var(--blue);
  display: unset;
}
.about .container .left button {
  margin-bottom: 60px;
}
.about .container .left h4 {
  color: var(--black);
  font-size: 1.7rem;
  margin-bottom: 60px;
}
.about .container .left .skillset {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}
.about .container .left .skillset .skill {
  background: var(--black);
  color: var(--white);
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px var(--blue);
  border-radius: 5px;
  white-space: nowrap;
  transition: all 0.3s ease;
  overflow: hidden;
  font-size: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  backdrop-filter: blur(100px);
}

.about .container .left .skillset .skill:hover {
  box-shadow: 5px 5px var(--blue);
  transform: translate(-5px, -5px);
}
/* Projects Section Design */
.projects .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projects .container .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.article-wrapper {
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
  border-radius: 10px;
  padding: 20px;
  border: 2px solid var(--blue);
  cursor: pointer;
  background-color: var(--white);
}

.article-wrapper:hover {
  -webkit-box-shadow: 10px 10px 0 #4e84ff, 20px 20px 0 rgb(80, 80, 255);
  box-shadow: 10px 10px 0 #4e84ff, 20px 20px 0 rgb(80, 80, 255);
  border-color: var(--blue);
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}

.article-wrapper:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.types {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: flex-start;
}

.rounded-lg {
  border-radius: 10px;
}

.article-wrapper:hover .project-hover {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #a6c2f0;
}

.project-info {
  padding-top: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.project-title {
  font-size: 2em;
  margin: 0;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--black);
  font-family: "Space Grotesk", sans-serif !important;
}

.flex-pr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-type {
  background: #b2b2fd;
  color: #1a41cd;
  font-weight: bold;
  padding: 0.3em 0.7em;
  border-radius: 15px;
  font-size: 12px;
  letter-spacing: -0.6px;
}

.project-hover {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 9px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cp1 {
  width: 100%;
  height: 170px;
  background: url(../img/Portfolio-1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.cp2 {
  width: 100%;
  height: 170px;
  background: url(../img/herotravels.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.cp3 {
  width: 100%;
  height: 170px;
  background: url(../img/whitepace.png);
  background-size: cover;
  background-repeat: no-repeat;
}
/* Contact Me Section */
.contact .container .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 20px;
  margin: 0 auto;
}
.contact .container .wrapper .card {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  padding: 30px 90px;
  border-radius: 10px;
}
.contact .container .wrapper .card i {
  font-size: 5rem;
  color: var(--text);
}
.contact .container .wrapper .card i.odd {
  color: var(--blue);
}
.contact .container .wrapper .card h4 {
  font-size: 1.5rem;
  white-space: nowrap;
}
/* Footer Design */
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .footer-1 ul li a {
  color: var(--white);
  font-weight: bold;
  transition: all .3s ease;
}
footer .container .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .container .right .footer-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
footer .container .right .footer-2 img {
  max-width: 80px;
  border-radius: 100%;
  border: 1px solid var(--white);
}
footer .container .right .footer-2 h4 {
  color: #555555;
  font-size: 0.8rem;
}
footer .container .footer-1 ul li a i {
  font-size: 0.8rem;
  transform: rotate(-45deg);
}
footer .container .footer-1 ul li a:hover {
  color: var(--blue);
}
footer .container .footer-1 ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .card {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
}

/* for all social containers*/
footer .socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 1s;
}
/* instagram*/
footer .containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* twitter*/
footer .containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}
/* linkdin*/
footer .containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
/* Whatsapp*/
footer .containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
}

footer .socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

footer .socialSvg {
  width: 17px;
}

footer .socialSvg path {
  fill: rgb(255, 255, 255);
}

footer .socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@media (max-width: 1384px) {
  .about .container .right .img {
    max-width: 400px;
  }
  .contact .container .wrapper {
    flex-direction: column;
  }
}
@media (max-width: 1150px) {
  .projects .container .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 850px) {
  .about .container {
    flex-direction: column;
    gap: 60px;
    text-align: center;
    align-items: center;
  }
  h2 {
    text-align: left;
  }
  .about .container .left,
  .about .container .right {
    max-width: 100%;
  }
  .about .container .left .skillset {
    grid-template-columns: 1fr;
  }
  .projects .container .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 95%;
  }
  .overlay ul {
    flex-direction: column;
    gap: 10px;
    margin-top: 60px;
  }
  .overlay ul li {
    text-align: left;
  }
  .overlay ul li a {
    font-size: 2rem;
  }
  main h1 {
    font-size: 4rem;
    padding: 0 10px;
  }
  footer .container {
    flex-direction: column;
    align-items: center;
  }
  .projects .container .article-wrapper {
    scale: 0.85;
  }
  footer .container .right .footer-2 {
    flex-direction: column;
  }
  footer .container .footer-1 ul {
    margin-bottom: 20px;
    text-align: center;
  }
}
